.transition(@prop: all, @time: 0.2s, @ease: ease-in-out ) {
  -webkit-transform: @prop @time @ease;
  -moz-transform: @prop @time @ease;
  -ms-transform: @prop @time @ease;
  -o-transform: @prop @time @ease;
  transform: @prop @time @ease;
}

.box-shadow( @x: 0, @y: 5px, @blur: 10px, @color: #888888) {
  -webkit-box-shadow: @x @y @blur @color;
  -moz-box-shadow: @x @y @blur @color;
  box-shadow: @x @y @blur @color;
}