h1,
h2 {
  color: red;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 5px 10px #888888;
  -moz-box-shadow: 0 5px 10px #888888;
  box-shadow: 0 5px 10px #888888;
}
h1:hover {
  color: blue;
}
h2 {
  color: blue;
}
